.logo {
    display: block;
    margin: auto;
    width: 93vw;
}

body {
    background-image: url();
    background-color: #3688AD;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul.menu {
    text-align: center;
    margin: 0vw;
    padding: 0.1vw;
}

ul.menu li {
    background-color: mediumblue;
    display: inline;
    font-size: 3vw;
    margin-right: 0.4vw;
    border: 0.1vw solid black;
    border-color: black;
    padding: 0.3vw;
}

.text {
    text-align: left;
    font-size: 1.52vw;
    background: #ff8e0d;
    width: 93vw;
    padding: 1vw;
    margin: 1.5vw;
    border: 0.5vw solid blue;
    border-radius: 1vw;
    border-style: ridge;
}

.text_m {
    font-size: 1.52vw;
}

.text_merch {
    text-align: left;
    font-size: 1.52vw;
    background: #ff8e0d;
    width: 93vw;
    padding: 1vw;
    margin: 0vw;
    border: 0.5vw solid blue;
    border-radius: 1vw;
    border-style: ridge;
}

.top {
    float: left;
}

.gif {
    padding: 2vw;
    padding-left: 5vw;
}

.merch_foto {
    padding-right: 1vw;
    padding-top: 1vw;
}

.sale {
    display: block;
    margin: auto;
    width: 93vw;
}

p.text_s {
    margin: 0%;
    text-align: center;
}

.sales {
    margin-bottom: 0%;
}

.worker {
    float: right;
    width: 30vw;
    padding: 0.5vw;
}